/* Variáveis de cores */
$c-text-main: #5A5A5A;
$c-neutral: #FFFFFF;
$c-border: #DDDDDD;
$c-neutral-10: darken($c-neutral, 10%);

/* Variáveis de fontes */
$f-size-default: 100%;
$f-family-main: 'Lato', sans-serif;